<div>

    <h2>Agenda ITCongress 2014</h2>

    <div class="row">
        <div class="col-md-3 pull-right">
            <div class="input-group">
                <input ng-model="search" name="newEmail" type="text" class="form-control" placeholder="Search">
                <span class="input-group-btn"><button class="btn btn-primary" type="button"><span class="glyphicon glyphicon-search"></span></button></span>
            </div>
        </div>
        <div class="col-md-3 pull-right" ng-show="$root.status.substr(0,8) == 'Approved'">
            Display only My Schedule: <input type="checkbox" ng-model="mySchedule" ng-true-value="true" ng-false-value="">
        </div>
    </div>

    <ul class="media-list">
        <li ng-repeat="session in sessions | filter:search | filter:{isRegistered:mySchedule}">
            <div class="row">
                <div class="col-lg-2">
                    <h4 ng-if="(session.room == '' || session.room == 'room1') || mySchedule=='true'|| search "><span class="label label-default">{{ session.day }}, {{ session.time }}</span></h4>
                </div>
                <div class="col-lg-10">
                    <h4 style="color:#3276b1"><strong>{{ session.brand }}</strong></h4>
                    <p>
                        {{ session.roomName }}
                        <strong ng-if="session.room!=''">|</strong>


                        <span ng-repeat="speaker in session.speakers">
                            <a ng-href="/Speakers/{{speaker}}">{{speaker}}</a>
                        </span>

                    </p>
                    <p><strong>{{ session.title }}</strong></p>
                    <p>
                        <button ng-click="addToSchedule(session.sessionId, session.day, session.time)" ng-if="$root.status.substr(0,8) == 'Approved' && session.room!='' && (session.currentAttendees < session.maxAttendees) && (currentToken==null || (currentToken && !session.isRegistered))" class="btn btn-xs btn-primary">Add to My Schedule</button>
                        <button button ng-click="removeFromSchedule(session.sessionId)" ng-if="$root.status.substr(0,8) == 'Approved' && currentToken && session.isRegistered" class="btn btn-xs btn-success">Remove from My Schedule</button>
                        <span ng-if="session.currentAttendees >= session.maxAttendees && session.room != '' && !session.isRegistered " class="label label-danger">No more places!</span>
                        <!--<span ng-if="session.currentAttendees >= session.maxAttendees && session.room != '' " class2="label label-danger">No more places!</span>-->
                    </p>

                    <div ng-if="($root.role=='Admin' || $root.role=='PM') && session.room != ''" tooltip=" {{session.currentAttendees}} attendees, {{session.maxAttendees}} seats">
                        <progressbar style="height:5px;" max="session.maxAttendees" value="session.currentAttendees" type="info"></progressbar>
                    </div>

                    <hr ng-if="(session.room != '' && session.room != 'room4') || mySchedule=='true' || search " />
                </div>
            </div>
            <hr ng-if="(session.room == '' || session.room == 'room4') && mySchedule!='true' && !search" style="border-color:gray" />
        </li>
    </ul>


</div>
