<div class="container" ng-controller="navbarController">
    <div class="navbar-header">
        <!--http://stackoverflow.com/a/21556009-->
        <button type="button" class="navbar-toggle btn navbar-btn" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="http://itcongress.ro/" class="navbar-brand">ITCongress</a>
    </div>
    <div collapse="navCollapsed" class="navbar-collapse collapse">

        <ul class="nav navbar-nav">
            <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
                <a ng-href=" {{item.link}}">{{'Menu.' + item.title | translate}}</a>
            </li>

            <li ng-if="$root.isAdmin" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">{{'Navbar.Admin'|translate}} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a ng-href="/Admin/Users">{{'Navbar.Admin.Users'|translate}}</a></li>
                    <li><a ng-href="/Admin/WhiteList">{{'Navbar.Admin.WhiteList'|translate}}</a></li>
                </ul>
            </li>

        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li ng-hide="currentToken" ng-class="{active: isActive('/Account/Register')}"><a href="/Account/Register" id="registerLink"> {{'Navbar.Register'| translate}}</a></li>
            <li ng-hide="currentToken" ng-class="{active: isActive('/Account/Login')}"><a href="/Account/Login" id="loginLink">{{'Navbar.Login'| translate}}</a></li>
            <li ng-show="currentToken"><a href="">{{userName}}</a></li>
            <li ng-show="currentToken"><a href="" ng-click="logout()">{{'Navbar.Logout' | translate}}</a></li>

            <!--<li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">{{'Navbar.Language'|translate}} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a ng-click="changeLanguage('en')">{{'Navbar.Language.English'|translate}}</a></li>
                    <li><a ng-click="changeLanguage('ro')">{{'Navbar.Language.Romanian'|translate}}</a></li>
                </ul>
            </li>-->
        </ul>

    </div>
</div>
