<div>
    <h2>LandingPage</h2>

    <div class="row">
        <div class="col-md-3 pull-right">
            <div class="input-group">
                <input ng-model="search" name="newEmail" type="text" class="form-control" placeholder="Search">
                <span class="input-group-btn"><button class="btn btn-primary" type="button"><span class="glyphicon glyphicon-search"></span></button></span>
            </div>
        </div>

        <div class="col-md-3 pull-right">
            Display only users without psw: <input type="checkbox" ng-model="havePswFilter" ng-true-value="false" ng-false-value="">
        </div>

    </div>


    <div class="table-responsive">
        <table class="table table-responsive table-hover table-condensed">
            <thead>
                <tr>
                    <th>#</th>
                    <th>FirstName</th>
                    <th>LastName</th>
                    <th>Title</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Company</th>
                    <th>Owner</th>
                    <th>HasPsw</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="item in userDetailsList | filter:search | filter:{hasPassword:havePswFilter}" ng-class="{'danger':!item.hasPassword}">
                    <td>{{$index + 1}}</td>
                    <td>{{ item.firstName }}</td>
                    <td>{{ item.lastName }}</td>
                    <td>{{ item.title }}</td>
                    <td>{{ item.phone }}</td>
                    <td>{{ item.email }}</td>
                    <td>{{ item.company }}</td>
                    <td>{{ item.owner }}</td>
                    <td><input type="checkbox" ng-model="item.hasPassword" /></td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
