<div>
    <h2>White List</h2>

    <div class="row">
        <div class="col-md-4">
            <div class="input-group">
                <input ng-model="newEmail" name="newEmail" type="text" class="form-control" placeholder="Enter a new email here">
                <span ng-click="add()" class="input-group-btn"><button class="btn btn-primary" type="button">Add Email</button></span>
            </div>
        </div>

        <div class="col-md-3 pull-right">
            <div class="input-group">
                <input ng-model="search" name="newEmail" type="text" class="form-control" placeholder="Search">
                <span class="input-group-btn"><button class="btn btn-primary" type="button"><span class="glyphicon glyphicon-search"></span></button></span>
            </div>
        </div>
    </div>


    <div class="table-responsive">
        <table class="table table-responsive table-hover table-condensed">
            <thead>
                <tr>
                    <th>Email</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="item in whiteList | filter:search">
                    <td>{{ item }}</td>
                    <td>
                        <a ng-click="delete(item)">delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
