body {
  padding-top: 50px;
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
/* all elements inside a parent decorated with max-width class */
/*.max-width  input, select, textarea {
    max-width: 280px;
}*/

/* Set padding to display errors that occur during databinding */
.padding-error {
    padding-top: 20px;
}

@media only screen and (max-width: 767px) {
    .nofloat {
        float: none;
        padding: 10px 15px;
    }
}

a {
    cursor: pointer;
}

.input-group {
    margin-bottom: 10px;
}

.popover-inner{
    width:250px;
}

.navbar-inverse{
    background-color:#1a80b6;
    border-color:#1a80b6;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus{
      background-color:#115275;
}

.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-brand{
    color:#dddddd;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus{
    background-color:#146f9d;
}